<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [11]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

Load the dataset into a dataframe.

In [13]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [17]:
# your code goes here
len(df)-len(df.drop_duplicates())

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [20]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [22]:
# your code goes here
len(df)-len(df.drop_duplicates())
df.shape

(11398, 85)

## Finding Missing values

Find the missing values for all columns.

In [25]:
# your code goes here
def missing_values_table(df):
   
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * mis_val / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table.columns = ['Missing Values', '% of Total Values']
    
    # Sort the table by percentage of missing values in descending order
    mis_val_table = mis_val_table[mis_val_table['% of Total Values'] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
    
    # Print summary information
    print(f"Number of columns of this dataframe is {df.shape[1]}.\n"
          f"Columns with missing values are {mis_val_table.shape[0]}.")
    
    # Return the DataFrame with missing information
    return mis_val_table

missing_values_table(df)

Number of columns of this dataframe is 85.
Columns with missing values are 73.

                    Missing Values  % of Total Values
BlockchainIs                  2610               22.9
CodeRevHrs                    2426               21.3
BlockchainOrg                 2322               20.4
MiscTechWorkedWith            2182               19.1
SONewContent                  1965               17.2
...                            ...                ...
JobFactors                       3                0.0
JobSat                           1                0.0
CodeRev                          1                0.0
SOVisitTo                        1                0.0
SOAccount                        1                0.0

[73 rows x 2 columns]

In [26]:
missing_values_table(df[['Country']])

Number of columns of this dataframe is 1.
Columns with missing values are 0.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [27]:
missing_values_table(df[['EdLevel']])

Number of columns of this dataframe is 1.
Columns with missing values are 1.

         Missing Values  % of Total Values
EdLevel             112                1.0

Find out how many rows are missing in the column 'WorkLoc'

In [29]:
# your code goes here

missing_values_table(df[['WorkLoc']])

Number of columns of this dataframe is 1.
Columns with missing values are 1.

         Missing Values  % of Total Values
WorkLoc              32                0.3

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [32]:
# your code goes here
print(missing_values_table(df[['ConvertedComp']]))
df['ConvertedComp'].describe()

Number of columns of this dataframe is 1.
Columns with missing values are 1.
               Missing Values  % of Total Values
ConvertedComp             816                7.2

count    1.058200e+04
mean     1.315967e+05
std      2.947865e+05
min      0.000000e+00
25%      2.686800e+04
50%      5.774500e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [34]:
df['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [35]:
df['ConvertedComp'].value_counts()

ConvertedComp
2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
79183.0        1
20475.0        1
288732.0       1
22056.0        1
19880.0        1
Name: count, Length: 3515, dtype: int64

In [36]:
df['Employment'].value_counts()

Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64

In [37]:
#make a note of the majority value here, for future reference
# Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [39]:
# your code goes here
df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [42]:
# your code goes here
missing_values_table(df[['WorkLoc']])

Number of columns of this dataframe is 1.
Columns with missing values are 0.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [47]:
# your code goes here
print(df['CompFreq'].unique())
df['CompTotal'].isnull().sum()

['Yearly' 'Monthly' 'Weekly' nan]

809

In [48]:
df['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [51]:
# your code goes here
norm_ann_comp = []
for i in range(len(df)):
    if df['CompFreq'].iloc[i] == 'Weekly':
        norm_ann_comp.append(df['CompTotal'].iloc[i]*52)
    elif df['CompFreq'].iloc[i] ==  'Monthly':
        norm_ann_comp.append(df['CompTotal'].iloc[i]*12)
    else:
        norm_ann_comp.append(df['CompTotal'].iloc[i])

df['NormalizedAnnualCompensation'] = norm_ann_comp
df['NormalizedAnnualCompensation'].describe()

count    1.058900e+04
mean     6.133295e+06
std      9.838157e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).